<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.health_scheduler">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ex_leg_press"></activity>
        <activity android:name=".ex_leg_curl" />
        <activity android:name=".ex_hanging_knee_raise" />
        <activity android:name=".ex_deadlift" />
        <activity android:name=".ex_list_arm" />
        <activity android:name=".ex_list_core" />
        <activity android:name=".ex_list_back" />
        <activity android:name=".ex_list_chest" />
        <activity android:name=".ex_list_shoulder" />
        <activity android:name=".added_list" />
        <activity android:name=".ex_dumbbell_curl" />
        <activity android:name=".ex_hammer_curl" />
        <activity android:name=".ex_biceps_curl" />
        <activity android:name=".ex_triceps_extension_bb" />
        <activity android:name=".ex_triceps_extension_db" />
        <activity android:name=".ex_triceps_extension_mc" />
        <activity android:name=".ex_bench_pull" />
        <activity android:name=".gym_choose_part" />
        <activity android:name=".home_choose_part" />
        <activity android:name=".choose_place" />
        <activity android:name=".calendar_main" />
        <activity android:name=".information" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>